/* Reset */
body,
h1,
h2,
p,
form,
select,
button {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #f5f5f7;
}

/* Loading screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.f1-loader {
  border: 10px solid #3a3a3c;
  border-radius: 50%;
  border-top: 10px solid #e10600;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main content */
.container {
  display: none;
  padding: 40px;
  background-color: #2c2c2e;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  margin: 100px auto;
  text-align: center;
}

/* Header */
header h1 {
  font-size: 2.5em;
  color: #e10600; /* F1 Red */
}

/* Select Menu */
.select-container {
  position: relative;
  display: inline-block;
  width: 200px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: #3a3a3c;
  color: #f5f5f7;
  appearance: none;
  border: 1px solid #3a3a3c;
  outline: none;
  transition: background 0.3s;
}

.select-container::after {
  content: "⌄";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #f5f5f7;
}

/* Button Animation */
.animated-button {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #e10600;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: all 0.3s ease;
}

.animated-button:hover {
  background-color: #ff3b30;
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive */
@media (max-width: 768px) {
  header h1 {
    font-size: 2em;
  }
  .select-container {
    width: 100%;
  }
  .container {
    padding: 20px;
  }
}
