<!DOCTYPE html>
<html>
  <head>
    <title>F1 Race Results</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <div class="loading-screen" id="loading-screen">
      <div class="f1-loader"></div>
    </div>

    <div class="container" id="content" style="display: none">
      <header>
        <h1>F1 Race Results</h1>
        <form method="post">
          <label for="race">Select a race:</label>
          <div class="select-container">
            <select name="race" id="race">
              {% for round, race_name in races %}
              <option value="{{ round }}">{{ race_name }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="animated-button">Show Results</button>
        </form>
      </header>

      {% if race_name and date %}
      <h2>{{ race_name }} on {{ date }}</h2>
      {% for table in tables %} {{ table|safe }} {% endfor %} {% endif %}
    </div>
  </body>
</html>
